$theme-primary: (
  50 : #e6f0ec,
  100 : #c1dace,
  200 : #97c1ae,
  300 : #6da88e,
  400 : #4e9675,
  500 : #2f835d,
  600 : #2a7b55,
  700 : #23704b,
  800 : #1d6641,
  900 : #125330,
  A100 : #8cffbd,
  A200 : #59ff9f,
  A400 : #26ff82,
  A700 : #0dff73,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);