@use 'sass:map';
@use '@angular/material' as mat;
@use './themes/light' as light;
@use './themes/components' as components;

@include mat.core();
@include mat.all-component-themes(light.$light-theme);
@include components.theme(light.$light-theme);

@import './themes/components/cards/cards';

html, body {
  height: 100%;
  background: var(--theme-background-color);
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}
